body {
  background: #121212;
}
footer .nav {
  display: flex;
  gap: 40px;
}
footer a {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer .box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
